@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="indentedSection">
    <h3>Comments</h3>
    <p><strong>Martina Welander</strong></p>
    <p>I loved this holiday.</p>
    <p><a href="#">http://www.mywebsite.com/</a>
    <p><strong>Shelley Benhoff</strong></p>
    <p>This was really fun!</p>
    <p><a href="#">http://www.mywebsite.com/</a></p>
</div>