@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using NIIT.Web.Model
@model RenderingModel
@{

}
<div class="indentedSection">
    <div class="formRow">
        <label>Author</label>
        <input type="text" />
    </div>
    <div class="formRow">
        <label>Comment</label>
        <textarea></textarea>
    </div>
    <div class="formRow">
        <input type="button" value="Submit comment" />
    </div>
</div>