@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@using Sitecore.Data.Items
@using Sitecore.Links
@{

}
<div class="indentedSection">
    <ul class="bikes">

        @foreach(Item holiday in Sitecore.Context.Item.Children)
        {
            <li>
                <a href="@LinkManager.GetItemUrl(holiday)">@holiday.Name</a>
            </li>
        }
      
    </ul>
</div>